<link rel="stylesheet" href="/css/about.css">
<div class="container">
  <div class="row mt-4">
    <h2 class="mb-3 display-2">Users Guide</h2>


    <ul class="list-unstyled">
      <li>
        <h5 class="display-7">Dashboard</h5>
        <p>Here you can see all your personal details and edit them (name and email cann't
          be changed (email us if
          very
          necessary)) and track your questions count.</p>
      </li>
      <li>
        <h5 class="display-7">TODO</h5>
        <p>Here you will see all the unsolved/retry questions having deadline on or before today. Once solve those
          questions, mark done here and those questions status will become solved</p>
      </li>
      <li>
        <h5 class="display-7">Add Questions</h5>
        <p>Here you can add a new question by adding question name and its link with by default revision date of 20
          days later which u can change. Also u can add the topic related to that question and write some description
          about it.</p>
      </li>
      <li>
        <h5 class="display-7">Questions</h5>
        <ul type="square">
          <li>
            Here U can see all your qusetions with its details.
          </li>
          <li>
            You can delete and update questions.
          </li>
          <li>
            Last questions will show the time when you last marked your question solved here (change the status of
            your
            question from unsolved/retry to solved)
          </li>
          <li>
            Search any question by typing at least one complete word
          </li>
          <li>
            You can also apply filter to get solved/ unsolved/ retry questions list seperately
          </li>
        </ul>
      </li>
      <li>
        <h5 class="mt-2">Random Pick</h5>
        <p>When you want to pick some random questions to solve, this will show you 3 random questions from your all
          questions list.</p>
      </li>
      <li>
        <h5 class="display-7">Notifications</h5>
        <p>All the notifications will be shown on bottom-right corner</p>
      </li>
    </ul>

    <hr>



    <div class="about-section">

      <div class="text-center shadow-1-strong rounded text-white mb-4">
        <h1 class="display-4">About Us</h1>
        <p class="fs-6">Simplifying the Coders life to maintain there task list and keep them updated</p>
        <p>Now leave all your tension to solve questions daily on us</p>

      </div>



      <h1 class="text-align display-6 font-monospace mb-5">Our Team</h1>

      <div class="row p-0 d-flex justify-content-center align-items-center searchbar-highlight">


        <div class="col-sm-12 col-md-12 col-xl-6 searchbar-highlight">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body text-center dark-color">
              <div class="mt-3 mb-4">
                <img src="/img/abhi.jpg" class="rounded-circle img-fluid" style="width: 196px; height: 200px;" />
              </div>
              <h5 class="card-title">Abhishek Tiwari</h5>
              <p class="text-muted">Developer</p>
              <p class="card-text text-dark">Some text that describes me lorem ipsum ipsum lorem.</p>
              <p class="text royal_blue">13abhishektiwari@gmail.com</p>
              <div class="mb-4 pb-2">
                <a href="https://github.com/abhi9720" target="_blank" type="button"
                  class="btn btn-outline-primary btn-floating">
                  <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/abhi9720/" target="_blank" type="button"
                  class="btn btn-outline-primary btn-floating">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://www.instagram.com/ishutiwari75/" target="_blank" type="button"
                  class="btn btn-outline-primary btn-floating">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>
              <a href="mailto:17agrawalchaitanya@gmail.com" type="button"
                class="btn btn-primary btn-rounded btn-lg contactbtn">
                Contact
              </a>

            </div>
          </div>

        </div>

        <div class="col-sm-12 col-md-12 col-xl-6 searchbar-highlight">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body text-center dark-color">
              <div class="mt-3 mb-4">
                <img src="/img/chaitanya.png" class="rounded-circle img-fluid chaitanya"
                  style="width: 196px; height: 200px;" />
              </div>
              <h5 class="card-title">Chaitanya Agrawal</h5>
              <p class="text-muted">Developer</p>
              <p class="card-text text-dark">What doesn't kills you, makes you strong....🦁</p>
              <p class="text royal_blue">17agrawalchaitanya@gmail.com</p>
              <div class="mb-4 pb-2">
                <a href="https://github.com/Chaitanya1706" target="_blank" type="button"
                  class="btn btn-outline-primary btn-floating">
                  <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/chaitanya1706/" target="_blank" type="button"
                  class="btn btn-outline-primary btn-floating">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://www.instagram.com/chaitanya_agrawal17/" target="_blank" type="button"
                  class="btn btn-outline-primary btn-floating">
                  <i class="fab fa-instagram"></i>
                </a>

              </div>
              <a href="mailto:17agrawalchaitanya@gmail.com" type="button"
                class="btn btn-primary btn-rounded btn-lg contactbtn">
                Contact
              </a>

            </div>
          </div>

        </div>


      </div>

    </div>

  </div>
</div>