<link rel="stylesheet" href="/css/about.css">
<body>
    <h1>Users Guide</h1>

    <ul>
        <li>
            <h4>Dashboard</h4> 
            <span>Here you can see all your personal details and edit them (name and email cann't be changed (email us if very necessary)) and track your questions count.</span>
        </li>
        <li>
            <h4>TODO</h4> 
            <span>Here you will see all the unsolved/retry questions having deadline on or before today. Once solve those questions, mark done here and those questions status will become solved</span>
        </li>
        <li>
            <h4>Add Questions</h4>
            <span>Here you can add a new question by adding question name and its link with by default revision date of 20 days later which u can change. Also u can add the topic related to that question and write some description about it.</span>
        </li>
        <li>
            <h4>Questions</h4>
            <ul type="square">
                <li>
                    Here U can see all your qusetions with its details.
                </li>
                <li>
                    You can delete and update questions.
                </li>
                <li>
                    Last questions will show the time when you last marked your question solved here (change the status of your question from unsolved/retry to solved)
                </li>
                <li>
                    Search any question by typing at least one complete word
                </li>
                <li>
                    You can also apply filter to get solved/ unsolved/ retry questions list seperately
                </li>
            </ul>
        </li>
        <li>
            <h4>Random Pick</h4>
            <span>When you want to pick some random questions to solve, this will show you 3 random questions from your all questions list.</span>
        </li>
        <li>
            <h4>Notifications</h4>
            <span>All the notifications will be shown on bottom-right corner</span>
        </li>
    </ul>

    <hr>

    <div class="about-section">
        <h1>About Us</h1>
        <p>Simplifying the Coders life to maintain there task list and keep them updated</p>
        <p>Now leave all your tension to solve questions daily on us</p>
      </div>
      
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="img">
                <img src="/img/logo.png" alt="Abhishek">
            </div>
            <div class="container">
              <h2>Abhishek Tiwari</h2>
              <p class="title">Developer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>abhishek9720@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <div class="img">
            <img src="/img/logo.png" alt="Chaitanya">
            </div>
            <div class="container">
              <h2>Chaitanya Agrawal</h2>
              <p class="title">Developer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>17agrawalchaitanya@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
        
      </div>
    
</body>