<link rel="stylesheet" href="/css/addquestion.css">
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-7 card questioninput">
            <form action="/questions/create" method="post">
                <div class="col-md-12  mb-3">
                    <label class="form-label" for="name">Question Name</label>
                    <input class="form-control" type="text" name="name" id="name" placeholder="Write question name"
                        required>

                </div>
                <div class="col-md-12  mb-3">

                    <label class="form-label" for="link">Question Link</label>
                    <input class="form-control" type="url" name="link" id="link" placeholder="Add question link here.."
                        required>

                </div>

                <div class="col-md-12  mb-3">
                    <label for="topic">Topic</label>
                    <input type="text" id="topic" class="form-control" placeholder="Enter Category or Topic"
                        name="topic">
                </div>


                <div class="row  mb-3">
                    <div class="col-md-6">
                        <label for="status" class="form-label">Question Status </label>
                        <select id="status" class="form-select" name="status" id="status">
                            <option value="SOLVED">SOLVED</option>
                            <option value="UNSOLVED">UNSOLVED</option>
                            <option value="RETRY">RETRY</option>
                        </select>

                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="deadline">Deadline </label>
                        <input type="date" class="form-control" id="deadline" name="deadline">
                    </div>
                </div>


                <div class="col-md-12  mb-3">

                    <label class="form-label" for="desc">Description (Optional)</label>
                    <textarea class="form-control" name="description" id="desc" rows="5"
                        placeholder="Question Description"></textarea>

                </div>


                <div class="col-md-12">
                    <div class="text-center">
                        <input type="submit" value="Add Question" id="submit" name="submit" class="btn btn-primary">

                        <button type="reset" id="clear" name="clear" class="btn btn-secondary">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>




</div>