<div id="home_container">
    <section id="add_question">
        <h3>Add a question</h3>
        <form action="/questions/create" method="post">
            <div>
                <label for="name">Question Name</label>
                <input type="text" name="name" id="name" placeholder="Write question name" required>
            </div>
            <div>
                <label for="link">Question Link</label>
                <input type="text" name="link" id="link" placeholder="Add question link here.." required>
            </div>
            <div>
                <label for="topic">Topic</label>
                <input type="text" name="topic" id="topic" placeholder="Add question topic here.." required>
            </div>
            <div>
                <label for="status">Choose Status</label>
                <select name="status" id="status">
                    <option value="SOLVED">SOLVED</option>
                    <option value="UNSOLVED">UNSOLVED</option>
                    <option value="RETRY">RETRY</option>
                </select>
            </div>
            <div>
                <label for="deadline">Choose Deadline</label>
                <input type="date" id="deadline" name="deadline">
            </div>
            <div>
                <label for="desc">Description</label>
                <textarea name="description" id="desc" cols="30" rows="3"></textarea>
            </div>
            <input type="submit" value="Add Question">
        </form>
    </section>
</div>


<% if(locals.user){ %> 
    <h2><a href="/users/profile/<%= locals.user.id %> ">Profile</a></h2>
    <h3><a href="/users/sign-out">Sign Out</a></h3>
<% }else{ %> 
    <h3><a href="/users/signin">SignIn</a></h3>
    <h3><a href="/users/signup">SignUp</a></h3>
<% } %> 

