<html>
    <head>
        <title>
            <%= title %> 
        </title>
        <%- style %> 
    </head>
    <body>
        
        <main id="layout_main">
            <%- body %>
        </main>

        <%- script %> 
    </body>
</html>