<link rel="stylesheet" href="/css/style.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light customnav">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">ProgrammersTODO</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav nav-pills pull-right">
                <% if(locals.user){ %>
                    <li class="active"><a href="/">Profile</a></li>
                    <li><a href="/questions/todo">Todo</a></li>
                    <li><a href="/questions/add">Add Questions</a></li>
                    <li><a href="/users/sign-out">SignOut</a></li>
                    <% }else{ %>
                        <li><a href="/users/signin">Signin</a></li>
                        <li><a href="/users/signup">Signup</a></li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>