<link rel="stylesheet" href="/css/style.css">

<div>
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <% if(locals.user){ %> 
                <li class="active"><a href="/">Profile</a></li>
                <li><a href="/questions/todo">Todo</a></li>
                <li><a href="/questions/add">Add Questions</a></li>
                <li><a href="/users/sign-out">SignOut</a></li>
            <% }else{ %> 
                <li><a href="/users/signin">Signin</a></li>
                <li><a href="/users/signup">Signup</a></li>
            <% } %> 
        </ul>
        <h3 class="text-muted prj-name">ProgrammersTODO</h3>
    </div>
</div>
