<h1>SignUp</h1>

<form action="/users/create" method="post">
    <input type="text" placeholder="Username" required name="username" id="name">
    <input type="email" placeholder="abc@gmail.com" required name="email" id="email">
    <input type="text" placeholder="Current Education" required name="education" id="education">
    <input type="password" placeholder="password" required name="password" id="password">
    <input type="password" placeholder="confirm password" required name="confirm_password" id="password">
    
    <button type="submit">SignUp</button>
</form>