<h1>SignIn</h1>

<form action="/users/create-session" method="post">
    <input type="email" placeholder="abc@gmail.com" required name="email" id="email">
    <input type="password" placeholder="password" required name="password" id="password">
    <button type="submit">SigIn</button>
</form>