<link rel="stylesheet" href="/css/login.css">



<link rel="stylesheet" href="/css/login.css">

<div class="container">
    <!-- code here -->
    <div class="card mt-lg-2 mt-sm-1">
        <div class="card-image">
            <h2 class="card-heading">
                Get started
                <small>Let's create your account</small>
            </h2>
        </div>
        <form action="/users/create" method="post" id="signup">

            <div class="input">

                <input autocomplete="false" readonly onfocus="this.removeAttribute('readonly');" type="text"
                    class="input-field" required name="username" id="username">


                <label class="input-label">UserName</label>
            </div>
            <small></small>
            <div class="input">

                <input autocomplete="false" readonly onfocus="this.removeAttribute('readonly');" type="email"
                    class="input-field" required name="email" id="email">


                <label class="input-label">Email</label>
            </div>
            <small></small>

            <div class="input">

                <input type="text" class="input-field" required name="education" list="education">
                <label class="input-label">Education</label>
                <datalist id="education" style="max-height: 90px;">
                    <option value="1st sem, 1st year, B.Tech">
                    <option value="2nd sem, 1st year, B.Tech">
                    <option value="3rd sem, 2nd year, B.Tech">
                    <option value="4th sem, 2nd year, B.Tech">
                    <option value="5th sem, 3rd year, B.Tech">
                    <option value="6th sem, 3rd year, B.Tech">
                    <option value="7th sem, 4th year, B.Tech">
                    <option value="8th sem, 4th year, B.Tech">


                </datalist>



            </div>
            <small></small>



            <div class="input">


                <input autocomplete="false" readonly onfocus="this.removeAttribute('readonly');" type="password"
                    class="input-field" required name="password" id="password">


                <label class="input-label">Password</label>
            </div>
            <small></small>

            <div class="input">


                <input autocomplete="false" readonly onfocus="this.removeAttribute('readonly');" type="password"
                    class="input-field" required name="confirm_password" id="password">


                <label class="input-label">Confirm Password</label>
            </div>
            <small></small>


            <div class="action">
                <button class="action-button">Sign Up</button>

            </div>
            <p class="text-muted fw-bold mt-4">
                Already have an account ?
                <a href="/users/signin" class=""> Login </a>
            </p>
        </form>

    </div>
</div>