<!-- <h1>SignUp</h1>

<form action="/users/create" method="post">
    <input type="text" placeholder="Username" required name="username" id="name">
    <input type="email" placeholder="abc@gmail.com" required name="email" id="email">
    <input type="text" placeholder="Current Education" required name="education" id="education">
    <input type="password" placeholder="password" required name="password" id="password">
    <input type="password" placeholder="confirm password" required name="confirm_password" id="password">
    
    <button type="submit">SignUp</button>
</form> -->


<link rel="stylesheet" href="/css/login.css">


<!-- <h1>SignIn</h1>

<form action="/users/create-session" method="post">
    <input type="email" placeholder="abc@gmail.com" required name="email" id="email">
    <input type="password" placeholder="password" required name="password" id="password">
    <button type="submit">SigIn</button>
</form> -->
<link rel="stylesheet" href="/css/login.css">

<div class="container">
    <!-- code here -->
    <div class="card">
        <div class="card-image">
            <h2 class="card-heading">
                Get started
                <small>Let us create your account</small>
            </h2>
        </div>

        <form action="/users/create" method="post">

            <div class="input">

                <input autocomplete="false" readonly onfocus="this.removeAttribute('readonly');" type="text"
                    class="input-field" required name="username" id="username">


                <label class="input-label">UserName</label>
            </div>
            <div class="input">

                <input autocomplete="false" readonly onfocus="this.removeAttribute('readonly');" type="email"
                    class="input-field" required name="email" id="email">


                <label class="input-label">Email</label>
            </div>
            <div class="input">

                <input type="text" class="input-field" required name="education" list="education">
                <label class="input-label">Education</label>
                <datalist id="education">
                    <option value="1st sem, 1st year, B.Tech">
                    <option value="2nd sem, 1st year, B.Tech">
                    <option value="3rd sem, 2nd year, B.Tech">
                    <option value="4th sem, 2nd year, B.Tech">
                    <option value="5th sem, 3rd year, B.Tech">
                    <option value="6th sem, 3rd year, B.Tech">
                    <option value="7th sem, 4th year, B.Tech">
                    <option value="8th sem, 4th year, B.Tech">


                </datalist>



            </div>



            <div class="input">


                <input autocomplete="false" readonly onfocus="this.removeAttribute('readonly');" type="password"
                    class="input-field" required name="password" id="password">


                <label class="input-label">Password</label>
            </div>
            <div class="input">


                <input autocomplete="false" readonly onfocus="this.removeAttribute('readonly');" type="password"
                    class="input-field" required name="confirm_password" id="password">


                <label class="input-label">Confirm Password</label>
            </div>

            <div class="action">
                <button class="action-button">Sign Up</button>
            </div>
        </form>

    </div>
</div>