<link rel="stylesheet" href="/css/todo.css">



<div class="container mt-4">
    <div class="row card">
        <div class="card-block">
            <div class="box box-aqua">
                <div class="box-header ui-sortable-handle" style="cursor: move;">
                    <i class="ion ion-clipboard"></i>
                    <h3 class="box-title">To Do List</h3>

                </div>

                <div class="box-body">
                    <ul class="todo-list ui-sortable">
                        <li>

                            <input type="checkbox" value="" name="">
                            <span class="text">Design a nice theme</span>
                            <small class="badge bg-danger"><i class="fa fa-clock-o"></i> 2 mins</small>

                        </li>
                        <li>

                            <input type="checkbox" value="" name="">
                            <span class="text">Make the theme responsive</span>
                            <small class="badge bg-info"><i class="fa fa-clock-o"></i> 4 hours</small>

                        </li>
                        <li>

                            <input type="checkbox" value="" name="">
                            <span class="text">Let theme shine like a star</span>
                            <small class="badge bg-warning"><i class="fa fa-clock-o"></i> 1 day</small>

                        </li>
                        <li>

                            <input type="checkbox" value="" name="">
                            <span class="text">Let theme shine like a star</span>
                            <small class="badge bg-success"><i class="fa fa-clock-o"></i> 3 days</small>

                        </li>
                        <li>

                            <input type="checkbox" value="" name="">
                            <span class="text">Check your messages and notifications</span>
                            <small class="badge bg-primary"><i class="fa fa-clock-o"></i> 1 week</small>

                        </li>
                        <li>

                            <input type="checkbox" value="" name="">
                            <span class="text">Let theme shine like a star</span>
                            <small class="badge bg-secondary"><i class="fa fa-clock-o"></i> 1 month</small>

                        </li>
                    </ul>
                </div>
                <div class="box-footer clearfix no-border">
                    <button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i>Mark
                        Done</button>
                </div>
            </div>
        </div>


    </div>
</div>