body{
  background-color: #e3e8ee
}

.displayflex{
  display: flex;
  flex-direction: row;
}


.about-avatar{
  
  height: 175px;
  width:180px;
   border-radius: 10px;
  object-fit: cover;
  /* filter: drop-shadow(0 0 8px #ff5722); */
}
@media(max-width: 600px) {
  .about-avatar{
  
    height: 125px;
    width: 130px;
    /* filter: drop-shadow(0 0 8px #ff5722); */
  }
}

.counter {
 
  padding: 22px 20px;
  border-radius: 10px; 
  display: flex;
  justify-content: space-around;
  align-items: center;  
  flex-wrap: wrap;
  flex-direction: row;
}
.counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.counter .count {
  font-weight: 700;
  color: #20247b;
  margin: 0 0 5px;
}
.counter p {
  font-weight: 600;
  margin: 0;
}


.websitelink{
  font-weight: 400;
  color: #1266f1;
  margin-bottom: 20px !important;
}
.text-dark{
  margin: 0;
  padding: 0%;
  margin-bottom: 5px !important;
  margin-top: -2px;
}